##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####
*.xterm-256color:
! special colors
*.foreground:  #d6dbe5
*.background:  #131313
! black
*.color0:      #1f1f1f
*.color8:      #645959
! red
*.color1:      #f81118
*.color9:      #de352e
! green
*.color2:      #2dc55e
*.color10:     #1dd361
! yellow
*.color3:      #ecba0f
*.color11:     #f3bd09
! blue
*.color4:      #2a84d2
*.color12:     #ff557f
! magenta
*.color5:      #4e5ab7
*.color13:     #5350b9
! cyan
*.color6:      #1081d6
*.color14:     #ff557f
! white
*.color7:      #ffffff
*.color15:     #55aaff

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

*.transparent:     true
*.alpha: 0.8
URxvt*depth: 32
URxvt.background: [91]#131313

URxvt.letterSpace: 0

##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

*.letterSpace: 4


URxvt*depth: 32
URxvt.background: [91]#131313

*.font:Fira Code Medium:size=8.0
URxvt.font: xft:DejaVu Sans Mono for Powerline:pixelsize=10

URxvt.letterSpace: 0
*antialias:  true
*autohint:   true
